.nav{
    width: 100%;
    position:fixed ;
    z-index: 2000;
    height: 11vh;
    background-color: #eef0f2; 
    display: flex; /* Enables Flexbox for the .nav container */
    align-items: center; /* Centers items vertically */
}

.nav img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-left: 45px;
    cursor: pointer;
}